{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="large-container mt-4">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h2 class="card-header"><i class="far fa-user mr-2"></i>About you</h2>
                    <div class="card-body">
                        <div class="profile-avatar">
                            <div class="initials">{{ user.first_name | slice:":1" }}{{ user.last_name | slice:":1" }}</div>
                        </div>
                      <h2 class="card-title">{{ user.first_name }} {{ user.last_name }}</h2>
                      <p class="card-text"><i class="far fa-envelope"></i> {{ user.email }}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <h5 class="card-header"><i class="far fa-file mr-2"></i>CV</h5>
                    <div class="card-body">
                        {% if not user.resume %}
                            <div class="alert alert-danger" role="alert">
                                <strong>You haven't uploaded a CV yet.</strong> To apply for jobs you'll need a CV.
                            </div>
                            <div class="data">
                                <a href="{% url 'uploadcv' %}" class="btn btn-primary">Continue</a>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="current-cv">
                                        <h3>Current CV</h3>
                                        <div class="data">
                                            <span class="cv-name">
                                                <i class="far fa-file"></i>
                                                <span>{{ user.resume.filename }}</span>
                                            </span>
                                            <p>Added {{ user.resume.date_uploaded|date:"d/m/Y" }}</p>
                                            <p><a href=" {% url 'downloadcv' user.resume.filepath %}" target="_blank"><i class="fas fa-file-download"></i> Download</a></p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-8">
                                    <div class="manage-cv">
                                        <h3>Manage your CV</h3>
                                        <div class="data">
                                            <p>Upload a new CV, or use our CV builder to build one for you.</p>
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-primary px-5" data-toggle="modal" data-target="#exampleModal">
                                                Update CV
                                            </button>
                                            
                                            <!-- Modal -->
                                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-dialog-centered">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Updating your CV</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            We've noticed that you added a CV on {{ user.resume.date_uploaded|date:"d/m/Y" }}. Updating your CV will overwrite and replace your current saved CV - {{ user.resume.filename }} Do you want to continue?
                                                        </div>
                                                        <div class="modal-footer">
                                                            <a href="{% url 'uploadcv' %}" class="btn btn-primary">Continue</a>
                                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}