{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="large-container mt-4">
        <div class="row">
            <div class="col-sm-4">
                <div class="card">
                    <h5 class="card-header"><i class="far fa-user mr-2"></i>About you</h5>
                    <div class="card-body">
                      <h5 class="card-title">Special title treatment</h5>
                      <p class="card-text"><i class="far fa-envelope"></i> {{ user.email }}</p>
                      <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="card">
                    <h5 class="card-header"><i class="far fa-file mr-2"></i>CV</h5>
                    <div class="card-body">
                        {% if user.resume == Null %}
                            <div class="alert alert-danger" role="alert">
                                <strong>You haven't uploaded a CV yet.</strong> To apply for jobs you'll need a CV.
                            </div>
                        {% endif %}
                        <p class="card-text">Upload a new CV, or use our CV builder to build one for you.</p>
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form }}
                            <br>
                            <button type="submit" class="btn btn-primary mb-4">Upload CV</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}